### Maven ###
target
.checkstyle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#eclipse
.project
.classpath
.settings
.springBeans

### OSX ###
.DS_Store

### Logging ###
**/*.log
logs/*

### Frontend ###

# compiled output
**/dist
**/tmp
**/out-tsc
# Only exists if Bazel was run
**/bazel-out

# dependencies
**/node_modules

# profiling files
**/chrome-profiler-events.json
**/speed-measure-plugin.json

# IDE - VSCode
**/vscode
**/history

# misc
**/sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/yarn-error.log
**/testem.log
**/typings
