### Maven ###
target
.checkstyle

### IntelliJ IDEA ###
.idea
!.idea/runConfigurations/*.xml
*.iws
*.iml
*.ipr

#eclipse
.project
.classpath
.settings
.springBeans

### OSX ###
.DS_Store

### Logging ###
**/*.log
logs/*
