@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-icon{
    font-family: 'Material Icons' !important;
}

nav.bg-primary{
    background-color: #005BAA!important;
}

.loading {
    position: fixed;
    text-align: center;
    width: 300px;
    top: 50%;
    left: calc(50% - 150px);
}