<div class="container-fluid">
  <div class="row">
    <main class="col-lg-9 px-md-5 px-0 pt-4 mx-0 row">
      <div class="col-12 mb-4">
        <video id="player" #player controls playsinline preload autoplay
          [poster]="video.imageLocation">
          <source [src]="video.videoLocation" type="video/mp4" size="720">
          Your browser does not support HTML5 video.
        </video>
      </div>

      <h3 class="col-sm-7">{{video.longName}}</h3>
        <p class="col-sm-5 text-sm-right mb-4">
          <button class="btn p-0 ml-3" data-toggle="tooltip" data-placement="bottom" title="Tetszett a videó">
            <span class="oi oi-thumb-up text-success"></span>
            XXX
          </button>
          <button class="btn p-0 ml-3" data-toggle="tooltip" data-placement="bottom" title="Nem tetszett a videó">
            <span class="oi oi-thumb-down text-danger"></span>
            XXX
          </button>
          <span class="btn p-0 ml-3 " data-toggle="tooltip" data-placement="bottom" title="Megtekintések száma" disabled>
            <span class="oi oi-eye"></span>
            XXXX
          </span>
          <br> 
          <span class="oi oi-clock pr-1"></span>{{video.createdAt}}
        </p>

      <div class="col-12 pb-4 text-justify">
        {{video.description}}
      </div>
      <div class="col-12 pb-4 row justify-content-around">
        <div class="col-12 text-center">
          <h5>Vendégek</h5>
          <hr>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col pb-2">
            <a href="#">
              <h6 class="mb-0">Putti Krisztián</h6>
              <h6 class="p-0 m-0"><small>MŰSZAK elnök</small></h6>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col pb-2">
            <a href="#">
              <h6 class="mb-0">Debreczeny István</h6>
              <h6 class="p-0 m-0"><small>MŰSZAK alelnök</small></h6>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col pb-2">
            <a href="#">
              <h6 class="mb-0">Poduszló Kristóf</h6>
              <h6 class="p-0 m-0"><small>Simonyi Konferencia arculati felelős</small></h6>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col pb-2">
            <a href="#">
              <h6 class="mb-0">Vetési Dániel</h6>
              <h6 class="p-0 m-0"><small>Kollégiumi Bizottság elnöke</small></h6>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col pb-2">
            <a href="#">
              <h6 class="mb-0">Kiss Virág</h6>
              <h6 class="p-0 m-0"><small>Kollégiumi Bizottság kommunikációs felelőse</small></h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 pb-4 row justify-content-around">
          <div class="col-12 text-center">
            <h5>Stábtagok</h5>
            <hr>
          </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Kecskeméty Olivér</h6>
              <small>Bejátszós-feliratozó</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Szabó Roland</h6>
              <small>Hangtechnikus</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Márta Boldizsár</h6>
              <small>Képmérnök</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Komlós Boldizsár</h6>
              <small>Képvágó</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Barlangi Márk</h6>
              <small>Mikroportos</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Pálinkás Péter</h6>
              <small>Műsorvezető</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Salamon Dóra</h6>
              <small>Műsorvezető</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Ferencz Dominik</h6>
              <small>Operatőr</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Szendrei Balázs</h6>
              <small>Operatőr</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Turner Marcell</h6>
              <small>Operatőr</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Kozma Benedek</h6>
              <small>Rendező</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Komlós Boldizsár</h6>
              <small>Stream</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Csik Bence</h6>
              <small>Szerkesztő</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Máté Mónika</h6>
              <small>Szerkesztő</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Váradi Balázs Csaba</h6>
              <small>Szerkesztő</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Komlós Boldizsár</h6>
              <small>Videótechnikus</small>
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-6 col-xl-4 ml-2 pt-2 row">
          <div class="d-none d-lg-block col-auto pr-2">
            <img width="100%" src="https://via.placeholder.com/60x60.png">
          </div>
          <div class="col">
            <a href="#">
              <h6 class="mb-0">Márta Boldizsár</h6>
              <small>Világosító</small>
            </a>
          </div>
        </div>
      </div>
    </main>

    <nav class="col-md-3 d-none d-lg-block bg-light sidebar">
      <div class="row mt-4">

        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6 >Kávékóstolás</h6>
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
          
        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6>Csillagtúra 2019 - Netflix and Chillagtúra</h6> 
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
          
        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6 >HK Tisztújítás 2019</h6>      
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
          
        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6 >Mivel foglalkozunk? - Egy újonc szemével</h6>  
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
          
        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6>Genetikai labor</h6>      
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
          
        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6>XV. Simonyi szülinapi buli</h6>  
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
          
        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6>Havazni fog holnapután</h6>      
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
          
        <a class="col-12 px-4 mx-0 mb-2 row" href="#">
          <div class="d-none d-lg-block col-xl-6 px-0 pb-2">
            <img width="100%" src="https://via.placeholder.com/240x135.png">
          </div>
          <div class="col-xl-6 pr-0 pl-0 pl-lg-2">
              <h6>Még egy kifér ide</h6> 
              <h6 class="mb-2">
                <small>
                  <span class="oi oi-clock"></span>YYYY.MM.DD.
                  <span class="oi oi-eye pl-2 pr-1"></span>XXXXX
                </small>
              </h6>
          </div>
        </a>
                                        
      </div>
    </nav>
  </div>
</div>

