nav.navbar {
    box-shadow: 0 -1px 3px 4px rgba(0, 0, 0, 0.4);
}

nav a.navbar-brand.image {
    background-color: #f2f2f2;
    z-index: 2;
}

nav li.live, nav div.live {
    animation-name: live-bg-animation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    z-index: 1;
}

nav .triangle {
    width: 20px;
    height: 40px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .75));
}

nav .triangle.gray {
    color: #f2f2f2;
    margin-right: 2px;
}

nav .triangle.live {
    animation-name: live-color-animation;
    animation-iteration-count: infinite;
    animation-duration: 3s; 
}

nav li * {
    text-transform: uppercase;
}

nav input {
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid white;
}

nav input::placeholder {
    color: white;
}

nav span.icon {
    width: auto;
    height: auto;
    color: white;
}

@keyframes live-bg-animation {
    0% {background-color: #CC0000;}
    50% {background-color: #f68b22;}
    100% {background-color: #CC0000;}
}

@keyframes live-color-animation {
    0% {color: #CC0000;}
    50% {color: #f68b22;}
    100% {color: #CC0000;}
}